/* ESSENCIAL: Estas três linhas carregam as funcionalidades do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais mínimos */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff; 
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh;
}